.page{
    background-color: rgb(35, 192, 61);
    background-image: url('background.gif');
    background-size: 30%; 
    margin: 0;
}

.h1{
    color: rgb(255, 255, 255);
    white-space: pre-line;
}

.a{
    color: rgb(255, 255, 255);
    white-space: pre-line;
}

.name{
    display: block;
    margin-left: auto; 
    margin-right: auto; 
}

.button{

    background-color: rgba(23, 100, 33, 0.7);
    width: 300px;
    height: 200px;
    border-radius: 10%;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    user-select: none;
}

.imageContainer{

    margin: 0 auto;
    width: 100%;
    height: auto;
}

.drawing{

    background-color: rgba(23, 100, 33, 0.7);
    margin: auto;
    margin-bottom: 40px;
    width: 1000px;
    height: 800px;
    border-radius: 10%;

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 75%;

    font-size: 60px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}

.text{

    background-color: rgba(23, 100, 33, 0.7);
    margin: auto;
    margin-bottom: 40px;
    width: 1000px;
    height: auto;

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 75%;

    font-size: 60px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.sep{
    width: 100%; 
    height: 8px; 
    background-color: rgba(0, 0, 0, 0.3); 
    margin-top: 2%;
}

.drawing:hover{
    animation: Focus 0.5s forwards;
}

@keyframes Focus{
    0% {background-size: 80%; background-position-y: 90%; border-radius: 10%; font-size: 60px;}
    100% {background-size: 100%; background-position-y: center; border-radius: 0%; font-size: 0px;}
}

/*Soda*/

.dispenser{
    background-image: url('Soda/Dispenser.png');
    background-size: cover;
    display: flex;
    width: 800px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    -webkit-user-select: none;
}

.portal{
    background-image: url('Soda/Portal.gif');
    background-size: cover;
    display: flex;
    width: 760px;
    height: 850px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    user-select: none;
    -webkit-user-select: none;
}

.can{
    background-size: contain;
    position: absolute;
    transform: translate(300px,300px);
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    -webkit-user-select: none;
    background-repeat: no-repeat;
}

.sun{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('Soda/Win.gif');
    width: 900px;
    height: 1300px;
    transform: translate(0px,90px);
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    -webkit-user-select: none;
    transform: scale(0);
}

.YouGot{
    background-image: url(Soda/YouGot.png);
    position: absolute;
    background-size: contain;
    transform: translate(220px,160px);
    width: 480px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    -webkit-user-select: none;
}

.quote{
    color: rgb(167, 69, 247);
    white-space: pre-line;
    width: 500px;
    transform: translate(200px,610px);
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

.enterCan{
    animation: EnterCan 0.7s forwards;    
}

.exitCan{
    animation: ExitCan 0.2s forwards;
}

@keyframes EnterCan{
	from{transform: scale(0);}
	to{transform: scale(1);}
}

@keyframes ExitCan{
	from{transform: scale(1);}
	to{transform: scale(0);}
}